html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
.banner {
    padding: 6px;
    background: #593C2C;
    font-size: 30px;
    
}
.banner-flex{
    text-align: center;
    margin: auto;
}
.banner-ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.banner-li { 
    display: inline-block;
    padding: 12px;
    color: white;
}
.banner-li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.flex-box1{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.flex-div{
    text-align: center;
    margin: auto;
}
.banner-bilde{
    cursor: pointer;
}
.img-lokale{
    margin: 0px;
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.åpnigstider-ul{
    list-style: none;
    text-align: center;
    padding: 0px;
}
.åpnigstider{
    text-align: center;
}
.åpnigstider-titel{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.åpnigstider-li{
    margin-bottom: 16px;
}
